{% extends 'base.html' %}

{% block title %}Carrito de Compras{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="contenedor">
        <br>
        <section class="contenido">
            <div class="mostrador" id="mostrador">
                {% for row in carrito|batch(3) %}
                    <div class="fila">
                        {% for item in row %}
                            <div class="card">
                                <div class="tumb">
                                    <img src="{{ url_for('static', filename='img/' + item[3]) }}" alt="">
                                </div>
                                <div class="details">
                                    <h4>{{ item[1] }}</h4>
                                    <p>Precio: ${{ item[2] }}</p>
                                    <p>Cantidad: {{ item[4] }}</p>
                                    <input type="checkbox" name="productos_seleccionados" value="{{ item[0] }}">
                                    <button class="eliminar-btn" data-product-id="{{ item[0] }}">Eliminar</button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="realizar-compra-container">
                <button type="submit" class="realizar-compra-btn">Realizar Compra</button>
                <button type="button" class="comprar-todo-btn">Comprar Todo</button>
            </div>
        </section>
        
    </div>

    <!-- Agrega el bloque de scripts aquí -->
    {% block scripts %}
        <script src="{{ url_for('static', filename='js/carrito.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Style_Carrito.css') }}">

    {% endblock %}
{% endblock %}
